.c-heading {
  margin: 30px;
  padding: 40px;
  font-size: 40px;
  color:black;
}

.heading2 {
  font-family: 'Abel', sans-serif;
  font-size: 23px;
  color: #2e4756;
}

/*Styling for links to resume, Git and Linkedin*/
.Plinks {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: #2e4756;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.link-group {
  margin: 0 40px;
}
/* button for downloading resume*/
.btn {
    display: block;
    text-decoration: none;
    margin: 10px auto; 
    background-color: #4463D3;
    color: white;
}

header p {
  text-align: center;
}

/* Form attributes */

.container {
  display: block;
  margin: 10px auto; 
  padding: 50px;
  font-size: 20px;
  text-align: center;
  color: #2e4756; 
}

form {
    width: 50%;
    max-width: 400px;
    margin: 0px auto;
}

form label {
    display: block;
    font-family: 'Abel', sans-serif;
    color: black;
    margin: 10px 0px;
    text-align: left;
}

form input {
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 15px;
}

textarea {
    display: inline-block;
    width: 100%;
    height: 100px;
    font-size: 15px;
}

.formtitle {
      display: block;
      margin: 10px 0px;
      color: black;
      font-size: 30px;
}

#form-submit {
    display: block;
    width: 100px;
    margin: 10px auto; 
    margin-top: 14px;
    font-size: 12px;
}

