/* Styling for all pages*/
body {
    margin: 0px;
    height: 100%;
    background-color: #E9EAED;
    background-image: url("../img/NY.JPG");
    background-position: center;
    background-size: cover;
}

 h1 {
  margin: 10px auto;
  text-align: center;
  font-family: 'Abel', sans-serif;
  color: #2e4756; 
}

/*Styling for About Me page*/
.aboutp {
  color: #0d1418;
  padding: 4em;
  line-height: 1.8;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
}
.myimg {
  margin: 10px auto;
  width: 20%; 
  display: block;
  opacity: .8;
  border-radius: 8px;
}

/* Apply to all*/
@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        margin-top: 30px;
}
